@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-theme:   mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  )
));

// Include the default theme styles (color and default density)
@include angular-material-theme($app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-grey,A800);
$dark-accent:  mat-palette($mat-grey,A800);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,

  )
));

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme {
  @include angular-material-color($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-stretch
{
    flex: 1 0 auto;
}
.mr-8{
    margin-right: 8px;
}
::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: white;
    box-shadow: inset 0 0 0px gainsboro;
}
::-webkit-scrollbar-thumb {
    background: gainsboro;
    border-radius: 10px;
}

.dark-theme .mat-drawer.mat-drawer-push
{
  background-color: #212121!important;
}
.dark-theme .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgb(0 0 0 / 82%);
}