@import '~ngx-toastr/toastr';
@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap-grid';
.container {
  all:revert;
}
.a{
  all:revert;
}
@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-deep-orange, A400, A400, A400);
$app-theme:   mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn:$app-warn
  )
));
$custom-typography: mat-typography-config($font-family: 'Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif');
@include mat-core($custom-typography);

// Include the default theme styles (color and default density)
@include angular-material-theme($app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-indigo);
$dark-accent:  mat-palette($mat-pink, A400, A400, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));
$primary: mat-palette($mat-deep-purple, 600, 500, 900);
.dark-theme {
  @include angular-material-color($dark-theme);
}
.background-color-primary {
  background-color: mat-color($app-primary)!important;
}
.mat-danger {
  background-color: red;
  color:white ;
}
body { margin: 0;}
.flex-stretch
{
    flex: 1 0 auto;
}
.mr-8{
    margin-right: 8px;
}
::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: white;
    box-shadow: inset 0 0 0px gainsboro;
}
::-webkit-scrollbar-thumb {
    background: gainsboro;
    border-radius: 10px;
}
.dark-theme .mat-drawer.mat-drawer-push
{
  background-color: #212121!important;
}
.dark-theme .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgb(0 0 0 / 82%);
}
table {
  width: 100%;
}
.mat-flat-button {
  margin:8px 8px 8px 0!important;
  border-radius: 0px!important;  
}
.mat-raised-button {
  margin:8px 8px 8px 0!important; 
}
.toast-container .ngx-toastr {
  box-shadow: none;
}

.toast-container .ngx-toastr:hover {
  box-shadow: none;
}
.mat-form-field {
  width: 100%;
}
.center-screen
{
  position:fixed;
  top: 30%;
  left: 50%;
  width:30em;
  margin-top: -9em;
  margin-left: -15em;
}
.mat-row:hover {
  background-color: whitesmoke;
}
.dark-theme .mat-row:hover {
  background-color: rgb(58, 58, 58);
}
.mat-dialog-container 
{
  min-width: 500px!important;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 5px 8px 0px rgb(0 0 0 / 0%), 0px 1px 14px 0px rgb(0 0 0 / 8%)!important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mat-card
{
  border-radius: 0px!important;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 5px 8px 0px rgb(0 0 0 / 0%), 0px 1px 14px 0px rgb(0 0 0 / 8%)!important;
}
.module-card
{
  padding-top: 32px!important;
  border-radius: 0px!important;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 5px 8px 0px rgb(0 0 0 / 0%), 0px 1px 14px 0px rgb(0 0 0 / 8%)!important;
}
.mat-list-item
{
  font-size: 14px!important;
}
.mat-container
{
  height: 100%!important;
}
.mat-menu-content
{
  padding: 0px!important;
}
.mat-menu-panel
{
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 5px 8px 0px rgb(0 0 0 / 0%), 0px 1px 14px 0px rgb(0 0 0 / 8%)!important;
}
.mat-divider
{
  opacity: 50%;
}
.mat-card-row-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-right: 15px;
}
@media (max-width: 850px) {
  .mat-card-row-column  {
    width: 100%;
  }
}
.mat-card-content
{
  padding: 16px!important;
}

