<h2 mat-dialog-title translate>dialogs.checkOut.title</h2>
<mat-dialog-content class="mat-typography" translate>
  <div class="row" style="padding: 20px 0px 20px 0px;">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <mat-form-field appearance="outline">
        <mat-label>Customer</mat-label>
        <input matInput autocomplete="off" type="text" autocomplete="off" readonly value="{{this.customer.name}}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Customer Email</mat-label>
        <input matInput autocomplete="off" type="text" autocomplete="off" readonly value="{{this.customer.email}}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Customer Phone Number</mat-label>
        <input matInput autocomplete="off" type="text" autocomplete="off" readonly value="{{this.customer.phone}}" />
      </mat-form-field>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div *ngIf="cartItems && cartItems.length !=0">
        <mat-card
          style="margin:0px!important;border-radius: 0px!important;padding: 30px;max-height: 300px;overflow: scroll;">
          <mat-card-content style="padding: 0!important;margin-bottom: 0px;">
            <div *ngFor="let item of cartItems" class="row" style="margin:2px;padding:10px;border-radius: 5px;">
              <div class="col-2" style="font-size: large;align-self: center;">
                X {{item.quantity}}
              </div>
              <div class="col-10" style="align-self: center;">
                <h4 style="margin: 0px!important;">{{item.displayName}}</h4>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="cartItems && cartItems.length !=0" class="checkout">
        <mat-card style="border-radius: 0px!important;padding: 30px;">
          <mat-card-content style="padding: 0!important;margin-bottom: 0px;">
            <div class="row">
              <div class="col-6">Discount</div>
              <div class="col-6" style="text-align: right;">$0</div>
            </div>
            <div class="row">
              <div class="col-6">SubTotal</div>
              <div class="col-6" style="text-align: right;">${{total}}</div>
            </div>
            <div class="row">
              <div class="col-6">Taxes</div>
              <div class="col-6" style="text-align: right;">$0</div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <h1 style="margin: 0px;">Total Payable</h1>
              </div>
              <div class="col-6" style="text-align: right;">
                <h2 style="margin: 0px;">${{total}}</h2>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true">{{'common.cancel'|translate}}</button>
  <button *ngIf="!isBeingProcessed" mat-raised-button (click)="submitOrder()"
    color="accent">{{'dialogs.checkOut.button'|translate}}</button>
  <button *ngIf="isBeingProcessed" mat-raised-button color="accent" disabled>
    <mat-icon>
      <mat-spinner diameter="20">
      </mat-spinner>
    </mat-icon> {{'dialogs.checkOut.buttonProcessing'|translate}}
  </button>
</mat-dialog-actions>
