<div [hidden]="!users">
  <app-table [title]="'Users'" [subtitle]="'Manage, Register, Update or Remove Users here.'"
    [data]="users && users.data" [columns]="userColumns" (onFilter)="filter($event)"
    (onReload)="reload()" (onCreateForm)="openForm()" (onEditForm)="openForm($event)" (onSort)="sort($event)"
    (onDelete)="remove($event)" [totalCount]="users && users.totalCount" [pageSize]="users && users.pageSize"
    (onPageChanged)="pageChanged($event)"
    [customActionOneData]="userRoleActionData" (onCustomActionOne)="openUserRolesForm($event)"

    >
  </app-table>
</div>
