<div class="center-screen">
    
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
            <img src="/assets/fluentpos_logo.png" id="logo" style="height: 60px; padding: 20px;" />
                <h1>Sign in</h1>
                <h3>Enter your credentials here.</h3>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" style="width:100%" [disabled]="!loginForm.valid"
                    type="submit">Login</button>
            </form>
        </mat-card-content>

    </mat-card>
    <mat-card>
        <mat-card-content>
            <button mat-raised-button color="accent" (click)="fillSuperAdminCredentials()">superadmin
                credentials</button>

            <button mat-raised-button color="accent" (click)="fillStaffCredentials()">staff credentials</button>
        </mat-card-content>
    </mat-card>
</div>