<div class="content">
  <div class="container">
    <mat-card class="mat-card-login">
      <mat-card-content class="mat-card-content-login">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6 d-none d-lg-block login-image">
          </div>
          <div class="col-lg-6 col-md-12 col-xl-6 col-xs-6 login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <h1>Sign in to fluentPOS</h1>
              <h3>Enter your credentials here.</h3>
              <mat-form-field appearance="fill">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>
                  Please provide a valid email address
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" style="width:100%;height: 50px;" [disabled]="!loginForm.valid"
                type="submit">Login</button>
            </form>
            <div class="row">
              <div class="col"><button mat-raised-button color="accent" style="width:100%;height: 50px"
                  (click)="fillSuperAdminCredentials()">superadmin
                  credentials</button></div>
              <div class="col"> <button mat-raised-button color="accent" style="width:100%;height: 50px"
                  (click)="fillStaffCredentials()">staff
                  credentials</button></div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
