.user-card
{
    margin: 10px;
}
hr {
  border: 0;
  height: 0.6px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.example-header-image {
  background-image: url('https://qph.fs.quoracdn.net/main-thumb-223281645-200-jtrviuzubjjzvtctaxmlppputywchjfp.jpeg');
  background-size: cover;
}
.mat-card-header{
  padding:10px !important;
}

 .mat-card{
  padding:0 !important;
  background-color: transparent;
}
.mat-card-subtitle
{
    margin-bottom: 0px!important;
}
.mat-card-title{
font-weight: lighter;
}
.nav-subheading
{
  font-weight: lighter;
  padding-left: 10px;
  margin: 0px!important;
  margin-bottom: 10px!important;
  margin-top: 10px!important;
  color: grey;
  font-size:larger;
}
