<div class="row">
    <div *ngFor="let a of products; let index = index" class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="border-radius: 5px;opacity: {{1.5-(index/10)}};">
        <mat-card style="padding: 0px">
            <div *ngIf="showImage">
                <ngx-skeleton-loader appearance="circle" [theme]="{
            width: '100%',
            height: '200px',
            'border-radius': '0px',
            margin: '0px'
          }">
                </ngx-skeleton-loader>
            </div>
            <mat-card-content style="margin-bottom: 0px!important;">
                <ngx-skeleton-loader [theme]="{
            width: '90%',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{
            width: '60%',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
            </mat-card-content>
            <mat-card-actions style="padding: 0px 0px 0px 16px">
                <ngx-skeleton-loader count="2" appearance="circle" [theme]="{
            width: '70px',
            height: '40px',
            'border-radius': '10px'
          }">
                </ngx-skeleton-loader>
            </mat-card-actions>
        </mat-card>
    </div>
</div>