<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3 col-xl-3">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{
        height: '48px',
        'border-radius': '10px'
      }">
        </ngx-skeleton-loader>
    </div>
    <div class="col-md-3 col-xl-3">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{
      height: '48px',
      'border-radius': '10px'
    }">
        </ngx-skeleton-loader>
    </div>
    <div class="col-md-3 col-xl-3">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{
    height: '48px',
    'border-radius': '10px'
  }">
        </ngx-skeleton-loader>
    </div>
    <div class="col-md-3 col-xl-3">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{
  height: '48px',
  'border-radius': '10px'
}">
        </ngx-skeleton-loader>
    </div>
    <!-- <div class="col-md-3 col-xl-3">
        <form>
            <mat-form-field appearance="outline" *ngIf="brands && brands.data">
                <mat-label>Filter Brands</mat-label>
                <input type="text" placeholder="Brand Selection" aria-label="Filter Brands" matInput [matAutocomplete]="auto" [formControl]="brandAutoComplete">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getBrandName.bind(this)">
                    <mat-option *ngFor="let brand of brands.data" [value]="brand.id">
                        {{brand.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="col-md-3 col-xl-3">
        <form>
            <mat-form-field *ngIf="brands && brands.data" appearance="outline">
                <mat-label>Filter Categories</mat-label>
                <input type="text" placeholder="Category Selection" aria-label="Filter Categories" matInput [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let brand of brands.data" [value]="brand.name">
                        {{brand.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="col-md-3 col-xl-3" style="text-align: right;">
        <a mat-raised-button style="margin-right: 5px;" (click)="toggleImage()">
            <span style="font-weight:lighter;font-size: small;" translate>pos.toggleImage</span>
        </a>
    </div> -->
</div>
<div class="row">
    <div *ngFor="let a of products; let index = index" class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="border-radius: 5px">
        <mat-card style="padding: 0px">
            <div *ngIf="showImage">
                <ngx-skeleton-loader appearance="circle" [theme]="{
            width: '100%',
            height: '200px',
            'border-radius': '0px',
            margin: '0px'
          }">
                </ngx-skeleton-loader>
            </div>
            <mat-card-content style="margin-bottom: 0px!important;">
                <ngx-skeleton-loader [theme]="{
            width: '90%',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{
            width: '60%',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
            </mat-card-content>
            <mat-card-actions style="padding: 0px 0px 0px 16px">
                <ngx-skeleton-loader count="2" appearance="circle" [theme]="{
            width: '70px',
            height: '40px',
            'border-radius': '10px'
          }">
                </ngx-skeleton-loader>
            </mat-card-actions>
        </mat-card>
    </div>
</div>