<mat-nav-list style="padding-top: 0px;">
    <mat-card class="user-card mat-elevation-z0">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Mukesh Murugan</mat-card-title>
            <mat-card-subtitle>mukesh@fluentpos.com</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <hr>
    <!-- get icons from https://fonts.google.com/icons?selected=Material+Icons -->
    <div style="margin-top: 20px">
        <a mat-list-item routerLink="dashboard/">
            <mat-icon style="padding-right: 10px;">trending_up</mat-icon> Dashboard
        </a>
        <div class="nav-subheading">
            Catalog Management</div>
        <a mat-list-item routerLink="catalog/brands">
            <mat-icon style="padding-right: 10px;">home</mat-icon> Brands
        </a>
        <a mat-list-item routerLink="catalog/categories">
            <mat-icon style="padding-right: 10px;">home</mat-icon> Categories
        </a>
        <a mat-list-item routerLink="catalog/products">
            <mat-icon style="padding-right: 10px;">home</mat-icon> Products
        </a>
    </div>

</mat-nav-list>