<div id="main">
  <div class="bg-purple">
    <div class="stars">
      <div class="central-body">
        <img alt="404 Image" class="image-404" src="/assets/404.svg" width="300px">
        <a class="btn-go-home" routerLink="/">GO HOME</a>
      </div>
      <div class="objects">
        <img alt="Rocket Image" class="object_rocket" src="/assets/rocket.svg" width="40px">
        <div class="earth-moon">
          <img alt="Earth Image" class="object_earth" src="/assets/earth.svg" width="100px">
          <img alt="Moon Image" class="object_moon" src="/assets/moon.svg" width="80px">
        </div>
        <div class="box_astronaut">
          <img alt="Astronaut Image" class="object_astronaut" src="/assets/astronaut.svg" width="140px">
        </div>
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </div>
</div>
