<div class="content">
    <mat-card style="padding: 0px!important;">
        <mat-card-content>
            <div class="row" style="place-content: center;text-align: center;margin: 15px;">
                <div class="col-lg-6">
                    <h2 style="
                    font-size: xxx-large;
                    font-weight: 300;
                ">fluentpos</h2>
                    <p>Built with Angular 12 & ASP.NET Core 5.0</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="container">
        <router-outlet>

        </router-outlet>
    </div>
</div>