<mat-toolbar color="primary">
    <mat-toolbar-row style="place-content: center;">
        <a mat-button routerLink="/" aria-label="fluentpos">
            <img class="angular-logo" src="/assets/angular-white-transparent.svg" alt="Angular Logo White">
            <span style="font-weight:lighter;font-size: larger;" translate>site.title</span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<div class="content" >
    <div class="container">
        <router-outlet>

        </router-outlet>
    </div>
</div>