<div class="content">
    <mat-card style="padding: 0px!important;">
        <mat-card-content>
            <div class="row" style="place-content: center;text-align: center;">
                <div class="col-lg-6 u-text-center">
                    <h2 class="u-mb-small" style="
                    font-size: xxx-large;
                    font-weight: 300;
                ">fluentpos</h2>
                    <p class="u-text-large u-mb-large">Votre POS Compatible Mobile money</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="container">
        <router-outlet>

        </router-outlet>
    </div>
</div>