<div *ngIf="!rolePermission" class="d-flex justify-center p-4">
  <mat-icon>
    <mat-spinner diameter="20">
    </mat-spinner>
  </mat-icon> Loading ...
</div>
<div [hidden]="!rolePermission">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let group of rolePermissionGroup" label="{{group}}">
      <app-table [title]="'Role Permissions'" [subtitle]="'Manage Role Permission here.'"
        [data]="groupRoleClaims[group]" [columns]="rolePermissionColumns"
        [customActionData]="rolePermissionActionData" (onCustomAction)="submitRolePermission()"
        [tabName]="group">
      </app-table>
    </mat-tab>
  </mat-tab-group>
</div>

