<h2 mat-dialog-title>{{formTitle}}</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <mat-dialog-content [style.width.px]=420 class="mat-typography">
    <input formControlName="id" type="hidden">
    <input formControlName="brandId" type="hidden">
    <input formControlName="categoryId" type="hidden">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input autocomplete="off" formControlName="name" matInput placeholder="Name" required>
      <mat-error>Please provide a valid name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Locale Name</mat-label>
      <input autocomplete="off" formControlName="localeName" matInput placeholder="Locale Name" required>
      <mat-error>Please provide a valid locale name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cost</mat-label>
      <input autocomplete="off" formControlName="cost" matInput placeholder="Cost" required type="number">
      <mat-error>Please provide a valid Cost value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input autocomplete="off" formControlName="price" matInput placeholder="Price" required type="number">
      <mat-error>Please provide a valid Price value</mat-error>
    </mat-form-field>
    <mat-checkbox color="primary" formControlName="tax" id="tax">Tax Available</mat-checkbox>
    <mat-form-field>
      <mat-label>Tax Method</mat-label>
      <input autocomplete="off" formControlName="taxMethod" matInput placeholder="Tax Method" required>
      <mat-error>Please provide a valid Tax Method</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Barcode Symbology</mat-label>
      <input autocomplete="off" formControlName="barcodeSymbology" matInput placeholder="Barcode Symbology" required>
      <mat-error>Please provide a valid Barcode</mat-error>
    </mat-form-field>
    <mat-checkbox color="primary" formControlName="isAlert" id="isAlert">Alert Active</mat-checkbox>
    <mat-form-field>
      <mat-label>Alert Quantity</mat-label>
      <input autocomplete="off" formControlName="alertQuantity" matInput placeholder="Alert Quantity" required
             type="number">
      <mat-error>Please provide a valid Barcode</mat-error>
    </mat-form-field>

    <p></p>
    <mat-form-field>
      <mat-label>Detail</mat-label>
      <input autocomplete="off" formControlName="detail" matInput placeholder="Detail">
      <mat-error>
        Please provide a valid detail
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-dialog-close mat-raised-button>Cancel</button>
    <button [disabled]="!productForm.dirty || !productForm.valid" [mat-dialog-close]="true" cdkFocusInitial color="primary"
            mat-raised-button type="submit">Save
    </button>
  </mat-dialog-actions>
</form>
