<mat-sidenav-container class='sidenav-container mat-app-background {{themeVariant}}'>
    <mat-sidenav #sidenav class="sidenav" disableClose="false" mode="push">
        <mat-nav-list style="padding-top: 0;">
            <mat-card>
                <mat-card-header style="padding:20px!important">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="margin-bottom: 10px;font-size:medium">{{fullName}}</mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 5px;font-size:small">{{email}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <div style="padding: 10px;">
                <a mat-list-item routerLink="dashboard/" (click)="sidenav.close()">
                    <mat-icon style="padding-right: 10px;">trending_up</mat-icon> Dashboard
                </a>
                <div class="nav-subheading">
                    Catalog Management</div>
                <a mat-list-item routerLink="catalog/brands" (click)="sidenav.close()">
                    <mat-icon style="padding-right: 10px;">inventory</mat-icon> Brands
                </a>
                <a mat-list-item routerLink="catalog/categories" (click)="sidenav.close()">
                    <mat-icon style="padding-right: 10px;">inventory</mat-icon> Categories
                </a>
                <a mat-list-item routerLink="catalog/products" (click)="sidenav.close()">
                    <mat-icon style="padding-right: 10px;">free_breakfast</mat-icon> Products
                </a>
                <div class="nav-subheading">
                    People Management</div>
                <a mat-list-item routerLink="people/customers" (click)="sidenav.close()">
                    <mat-icon style="padding-right: 10px;">people</mat-icon> Customers
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <app-toolbar [inputSideNav]="sidenav" (darkModelToggled)="onDarkModeToggled($event)"></app-toolbar>
    <div style="height: 2px;">
        <mat-progress-bar *ngIf="busyService.isLoading | async" mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div class="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>