<mat-card class="module-card">
    <mat-card-header>
        <mat-card-title translate>eventLogs.title</mat-card-title>
        <mat-card-subtitle translate>eventLogs.subtitle</mat-card-subtitle>
    </mat-card-header>
    <div style="margin: 0 26px 0 16px">
        <div class="left">
            <a mat-raised-button color="accent" (click)="reload()">
                <mat-icon>refresh</mat-icon> {{'components.table.reload'|translate}}
            </a>
        </div>
        <div class="right">
            <mat-form-field>
                <input matInput [(ngModel)]="searchString" name="searchString" type="text" autocomplete="off" (keyup)="doFilter()" placeholder="{{'components.table.filter'|translate}} Event Logs" />
            </mat-form-field>
        </div>
    </div>
    <table fixedLayout="true" mat-table mat-table-stripped [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="doSort($event)">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="messageType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Event </th>
            <td mat-cell *matCellDef="let element"> {{element.messageType}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp | date : 'medium'}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Action </th>
            <td mat-cell *matCellDef="let search; let i = index" style="text-align: right;">
                <button mat-raised-button color="accent">Show
                    Log</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="eventLogColumns"></tr>
        <tr mat-row *matRowDef="let search; columns: eventLogColumns;">
        </tr>
    </table>
    <app-pagination [totalCount]="eventLogs && eventLogs.totalCount" [pageSize]="eventLogs && eventLogs.pageSize" (pageChangeEvent)="handlePageChange($event)"></app-pagination>
</mat-card>