<div class="pos-center-screen">
    <div class="row">
        <div class="col-md-6 col-xl-6 u-mr-auto">
            <div class="c-card background-color-primary" style="color: white;">
                <div>
                    <div>
                        <h1 style="margin-bottom: 0px;">Point Of Sales</h1>
                        <span>Logged In as</span>
                    </div>
                    <p></p>
                    <button mat-raised-button routerLink="/home">
                        <span><span style="margin-right: 10px;" class="fas fa-home"></span>Home</span>
                    </button>
                    <button mat-raised-button>
                        <span><span style="margin-right: 10px;" class="fas fa-home"></span>Toggle View</span>
                    </button>
                    <button mat-raised-button (click)="toggleDarkMode()">
                        <span><span style="margin-right: 10px;" class="fas fa-home" ></span>Toggle Dark Mode</span>
                    </button>
                    <button mat-raised-button>
                        <span><span style="margin-right: 10px;" class="fas fa-home"></span>Hold</span>
                    </button>
                </div>
            </div>
            <app-catalog></app-catalog>
        </div>
        <div class="col-md-6 col-xl-6 u-ml-auto">
            <app-customer></app-customer>
            <div class="c-card">
                <div>
                    <h1>Bill</h1>
                </div>
            </div>
        </div>
    </div>
</div>