.sidenav-container {
    height: 100vh;
}

.sidenav {
    border: 0 solid rgba(0, 0, 0, 0.5);
    width: 30vw;
}


@media screen and (max-width:906px) {
  .sidenav {
    width: 100vw;
   }
}

.container {
    padding: 17px!important;
}
