<div class="pos-center-screen">
    <div class="row">
        <div class="col-md-6 col-xl-6 u-mr-auto">
            <app-customer></app-customer>
            <app-catalog></app-catalog>
        </div>
        <div class="col-md-6 col-xl-6 u-ml-auto">
            <div class="c-card">
                <div>
                    <h1>Extra Options</h1>
                </div>
            </div>
            <div class="c-card">
                <div>
                    <h1>Bill</h1>
                </div>
            </div>
        </div>
    </div>
</div>