<div class="row" style="place-content: center;">
    <div class="col-md-6">
        <mat-card>
            <mat-card-content>
                <h1 class="u-mb-xsmall">Dashboard</h1>
                <p class="u-mb-medium">Management of products, stock and configuration of POS.</p>
                <button mat-raised-button color="primary" routerLink="/admin">Dashboard</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6" > 
        <mat-card style="background-color: #3f51b5;color: white;">
            <mat-card-content>
                <h1 class="u-mb-xsmall u-text-white">POS</h1>
                <p class="u-mb-medium u-text-white">Start selling items from your store/warehouse inventory and generate invoices.</p>
                <button mat-raised-button color="secondary" routerLink="/pos">POS</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>