<div [hidden]="!brands">
  <app-table
    [title]="'Brands'"
    [subtitle]="'Manage, Register, Update or Remove Brands here.'"
    [tableData]="brands && brands.data"
    [tableColumns]="brandColumns"
    [isFilterable]='true'
    (onFilter)="doFilter($event)"
    (onReload)="reload()"
    (onCreateForm)="openBrandForm()"
    (onEditForm)="openBrandForm($event)"
    (onSort)="doSort($event)"
    (onDelete)="removeBrand($event)"
    >
  </app-table>
  <app-pagination [totalCount]="brands && brands.totalCount" [pageSize]="brands && brands.pageSize"
        (pageChangeEvent)="handlePageChange($event)"></app-pagination>
</div>
