<h1 style="margin: 0px;" mat-dialog-title>{{ formTitle }}</h1>
<mat-form-field>
    <mat-label>Search By Customer Phone Number</mat-label>
    <input matInput autocomplete="off" placeholder="Phone Number" [(ngModel)]="searchString" name="searchString"
        type="text" autocomplete="off" (keyup)="doFilter()" />
    <mat-error> Please provide a valid name </mat-error>
</mat-form-field>
<p></p>
<mat-dialog-content class="mat-typography" style="min-width: 60vh;">
    <div *ngIf="customers && customers.data">
        <div *ngFor="let customer of customers.data" class="row" style="padding:20px;">
            <div class="col-6">
                <h2 style="margin: 0px!important;">{{customer.name}}</h2>
                {{customer.phone}}
                <br>
                {{customer.email}}
            </div>
            <div style="align-self: center;text-align: right;" class="col-6">
                <button mat-raised-button (click)="selectCustomer(customer.id)">
                    <span><span style="margin-right: 10px;" class="fas fa-info"></span>Select</span>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [hidden]>Register New</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>