<div class="catalog-card" style="margin-bottom: 0;">
    <div>
        <div class="row">
            <div class="col-md-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>Filter Products</mat-label>
                    <input matInput autocomplete="off" placeholder="Search For Products" [(ngModel)]="searchString" name="searchString" type="text" autocomplete="off" (keyup)="doFilter()" />
                </mat-form-field>
            </div>
            <div class="col-md-3 col-xl-3">
                <form>
                    <mat-form-field appearance="outline" *ngIf="brands && brands.data">
                        <mat-label>Filter Brands</mat-label>
                        <input type="text" placeholder="Brand Selection" aria-label="Filter Brands" matInput [matAutocomplete]="auto" [formControl]="brandAutoComplete">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getBrandName.bind(this)" >
                            <mat-option *ngFor="let brand of brands.data" [value]="productParams.brandIds">
                              <mat-checkbox [checked]="isCheckedBrand(brand)" (change)="toggleBrandSelection($event, brand)" (click)="$event.stopPropagation()">
                                {{brand.name}}
                              </mat-checkbox>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-3 col-xl-3">
                <form>
                    <mat-form-field *ngIf="categories && categories.data" appearance="outline">
                      <mat-label>Filter Categories</mat-label>
                      <input type="text" placeholder="Category Selection" aria-label="Filter Category" matInput [matAutocomplete]="auto" [formControl]="categoryAutoComplete">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getCategoryName.bind(this)" >
                          <mat-option *ngFor="let category of categories.data" [value]="productParams.categoryIds">
                            <mat-checkbox [checked]="isCheckedCategory(category)" (change)="toggleCategorySelection($event, category)" (click)="$event.stopPropagation()">
                              {{category.name}}
                            </mat-checkbox>
                          </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" style="text-align: right; ">
                <a mat-flat-button style="margin-bottom: 30px!important;width: 100%;" (click)="toggleImage()">
                    <span style="font-weight:lighter;font-size: small;" translate>pos.toggleImage</span>
                </a>
            </div>
        </div>
        <div *ngIf="hasProductsLoaded == false" style="margin-bottom: 0;">
            <app-catalog-skeleton [showImage]="showImage"></app-catalog-skeleton>
        </div>
        <div *ngIf="hasProductsLoaded == true && (products && products.data)">
            <div class="row">
                <div *ngFor="let product of products.data" class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="border-radius: 5px;">
                    <mat-card class="example-card">
                        <img *ngIf="showImage" mat-card-image src="https://cdn.thewirecutter.com/wp-content/media/2020/12/macbook-2048px-9-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024">
                        <mat-card-content style="padding: 0!important;">
                            <h3>
                                {{product.name}}
                            </h3>
                            {{product.localeName}}
                        </mat-card-content>
                        <mat-card-actions style="padding:0px 0px 0px 10px">
                            <button [disabled]="(cartService.isCartInvalid | async) || (cartService.IsProductBeingAdded | async)" mat-raised-button color="accent" (click)="addToCart(product)">
                                <span><span style="margin-right: 10px;" class="fas fa-plus"></span>Add</span>
                            </button>
                            <button mat-raised-button color="info">
                                <span><span style="margin-right: 10px;" class="fas fa-info"></span>Info</span>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
