.member-default {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6d257453-e35e-4846-9f98-ffb5a54aeb09/d67p1cj-2f961097-1d06-4322-a01a-7fa3e4f8d0d1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZkMjU3NDUzLWUzNWUtNDg0Ni05Zjk4LWZmYjVhNTRhZWIwOVwvZDY3cDFjai0yZjk2MTA5Ny0xZDA2LTQzMjItYTAxYS03ZmEzZTRmOGQwZDEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.XdjUDwaRYj_PecGVDO9M6jlF3lYV6oCpWg1joGMIbNw');
    background-size: cover;
}
.member-mukesh {
    background-image: url('https://avatars.githubusercontent.com/u/31455818?s=400&u=3642a267e74148bc34a3c64d932e52bbec522562&v=4');
    background-size: cover;
}
.member-unchase {
    background-image: url('https://avatars.githubusercontent.com/u/29679226?s=400&u=3642a267e74148bc34a3c64d932e52bbec522562&v=4');
    background-size: cover;
}
.member-chhinsras {
  background-image: url('https://avatars.githubusercontent.com/u/31751665?s=400&u=3642a267e74148bc34a3c64d932e52bbec522562&v=4');
  background-size: cover;
}
