<mat-card class="module-card">
    <mat-card-header>
        <mat-card-title translate>about.title</mat-card-title>
        <mat-card-subtitle translate>about.subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h2>Core Team</h2>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4 col-xl-4">
                <mat-card class="module-card" style="padding-top: 16px!important;">
                    <mat-card-header style="padding: 16px!important;">
                        <div mat-card-avatar class="member-mukesh"></div>
                        <mat-card-title>Mukesh Murugan</mat-card-title>
                        <mat-card-subtitle>Something about me.</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="padding-top: 0px!important;">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                        <a mat-icon-button href="https://codewithmukesh.com/" matTooltip="Blog" target="_blank">
                            <mat-icon class="fas fa-globe"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://github.com/iammukeshm/" matTooltip="Github" target="_blank">
                            <mat-icon class="fab fa-github"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://linkedin.com/in/iammukeshm/" matTooltip="LinkedIn"
                            target="_blank">
                            <mat-icon class="fab fa-linkedin"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://buymeacoffee.com/codewithmukesh/" matTooltip="Support"
                            target="_blank">
                            <mat-icon class="fas fa-beer"></mat-icon>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4 col-xl-4">
                <mat-card class="module-card" style="padding-top: 16px!important;">
                    <mat-card-header style="padding: 16px!important;">
                        <div mat-card-avatar class="member-default"></div>
                        <mat-card-title>Chhin Sras</mat-card-title>
                        <mat-card-subtitle>Something about me.</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="padding-top: 0px!important;">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                        <a mat-icon-button href="https://xxxx.com/" matTooltip="Blog" target="_blank">
                            <mat-icon class="fas fa-globe"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://github.com/xxxx/" matTooltip="Github" target="_blank">
                            <mat-icon class="fab fa-github"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://linkedin.com/in/xxxx/" matTooltip="LinkedIn" target="_blank">
                            <mat-icon class="fab fa-linkedin"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://buymeacoffee.com/xxxx/" matTooltip="Support" target="_blank">
                            <mat-icon class="fas fa-beer"></mat-icon>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4 col-xl-4">
                <mat-card class="module-card" style="padding-top: 16px!important;">
                    <mat-card-header style="padding: 16px!important;">
                        <div mat-card-avatar class="member-default"></div>
                        <mat-card-title>Nikolay Chebotov</mat-card-title>
                        <mat-card-subtitle>Something about me.</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="padding-top: 0px!important;">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                        <a mat-icon-button href="https://xxxx.com/" matTooltip="Blog" target="_blank">
                            <mat-icon class="fas fa-globe"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://github.com/xxxx/" matTooltip="Github" target="_blank">
                            <mat-icon class="fab fa-github"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://linkedin.com/in/xxxx/" matTooltip="LinkedIn" target="_blank">
                            <mat-icon class="fab fa-linkedin"></mat-icon>
                        </a>
                        <a mat-icon-button href="https://buymeacoffee.com/xxxx/" matTooltip="Support" target="_blank">
                            <mat-icon class="fas fa-beer"></mat-icon>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>