<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button mat-icon-button (click)="cart.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button>
            <span style="font-weight:lighter;font-size: larger;" translate>pos.cart</span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<div style="height: calc(100vh-10px);overflow:auto;padding: 20px;">
    <div *ngIf="cartItems">
        <div *ngFor="let item of cartItems" class="row" style="margin:2px;padding:15px;background: rgba(0,0,0,.05);border-radius: 5px;">
            <div class="col-2" style="font-size: large;align-self: center;">
                X {{item.quantity}}
            </div>
            <div class="col-6" style="align-self: center;">
                <h4 style="margin: 0px!important;">{{item.displayName}}</h4>
            </div>
            <div style="align-self: center;text-align: right;" class="col-4">
                <button mat-icon-button (click)="increaseQuantity(item.productId)">
                    <mat-icon>north</mat-icon>
                  </button>
                <button (click)="reduceQuantity(item.productId)" mat-icon-button>
                    <mat-icon *ngIf="item.quantity >= 1" style="color: red;">south</mat-icon>
                  </button>
                <button (click)="removeItem(item.productId)" mat-icon-button>
                    <mat-icon *ngIf="item.quantity >=1" style="color: red;">delete</mat-icon>
                  </button>
            </div>
        </div>
    </div>
    <div *ngIf="!cartItems|| cartItems.length==0" style="height: 90vh!important; ">
        <mat-icon>shopping_cart</mat-icon>
        No Items Added Yet!
    </div>
</div>