<mat-toolbar class="position-fixed" style="z-index:1000;">
  <mat-toolbar-row>
    <button mat-icon-button (click)="cart.toggle()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <a mat-button>
      <span style="font-weight:lighter;font-size: larger;" translate>pos.cart</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div style="height: calc(100vh-10px);overflow:auto;padding: 20px;padding-top: 80px;padding-bottom: 250px;">
  <div *ngIf="(cartService.isCartLoading | async); else cartLoaded" style="margin-bottom: 0;">
    <app-cart-skeleton></app-cart-skeleton>
  </div>
  <ng-template #cartLoaded>
    <div style="margin-bottom: 0;">
      <div *ngIf="cartItems">
        <div *ngFor="let item of cartItems" class="row"
          style="margin:2px;padding:15px;background: rgba(0,0,0,.06);border-radius: 5px;">
          <div class="col-2" style="font-size: large;align-self: center;">
            X {{item.quantity}}
          </div>
          <div class="col-6" style="align-self: center;">
            <h4 style="margin: 0px!important;">{{item.displayName}}</h4>
            Rate : ${{item.rate}}
            <br>
            <b>Total : ${{item.total}}</b>
          </div>
          <div style="align-self: center;text-align: right;" class="col-4">
            <button mat-icon-button (click)="increaseQuantity(item.productId)">
              <mat-icon>north</mat-icon>
            </button>
            <button (click)="reduceQuantity(item.productId)" mat-icon-button>
              <mat-icon *ngIf="item.quantity >= 1" style="color: red;">south</mat-icon>
            </button>
            <button (click)="removeItem(item.productId)" mat-icon-button>
              <mat-icon *ngIf="item.quantity >=1" style="color: red;">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!(cartService.isCartInvalid | async) && (!cartItems || cartItems.length==0)"
        style="height: 60vh!important;">
        <mat-card>
          <mat-card-content style="padding: 40px;text-align: center;opacity: 60%;">
            <h2 translate>
              pos.cartEmpty</h2>
            <p translate>pos.startAddingProducts</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="(cartService.isCartInvalid | async)" style="height: 60vh!important;">
        <mat-card>
          <mat-card-content style="padding: 40px;text-align: center;opacity: 60%;">
            <h2 translate>
              pos.cartInvalid</h2>
            <p translate>pos.cartInvalidMessage</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>

</div>
<div *ngIf="cartItems && cartItems.length !=0" class="checkout">
  <mat-card style="margin:0px!important;border-radius: 0px!important;padding: 30px;">
    <mat-card-content style="padding: 0!important;margin-bottom: 0px;">
      <div class="row">
        <div class="col-6">Discount</div>
        <div class="col-6" style="text-align: right;">$0</div>
      </div>
      <div class="row">
        <div class="col-6">SubTotal</div>
        <div class="col-6" style="text-align: right;">${{total}}</div>
      </div>
      <div class="row">
        <div class="col-6">Taxes</div>
        <div class="col-6" style="text-align: right;">$0</div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <h1>Total</h1>
        </div>
        <div class="col-6" style="text-align: right;">
          <h2>${{total}}</h2>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="padding:0px 0px 0px 10px" style="text-align: center;">
      <button mat-raised-button color="warn" (click)="openClearCartDialog()">
        <span><span style="margin-right: 10px;" class="fas fa-shopping-basket"></span>Clear Cart</span>
      </button>
      <button mat-raised-button color="info">
        <span><span style="margin-right: 10px;" class="fas fa-percentage"></span>Discount</span>
      </button>
      <button mat-raised-button color="info">
        <span><span style="margin-right: 10px;" class="fas fa-percentage"></span>Info</span>
      </button>
      <button mat-raised-button color="accent" (click)="openCheckoutDialog()">
        <span><span style="margin-right: 10px;" class="fas fa-check"></span>Checkout</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
